.title {
    &-1 {
        font-size: pxToRem(24);
        margin: 0;
    }
    &-2 {
        font-size: pxToRem(18);
        color: black;
        margin: 0
    }
    &-3 {
        font-size: pxToRem(18);
        font-weight: 600;
        color: black;
        margin: 0;
    }
}