#{$brand}-card {
    cursor: pointer;
    background: transparent;
    height: 218px;
    width: 177px;
    box-shadow: 2px 2px 4px 2px #ccc;
    border-radius: 8px;

    &:hover {
        background: rgba(238, 238, 238, 0.6);
    }
    &__img {
        height: 177px;
        width: 177px;
        border-radius: 8px 8px 0 0;
    }
    &__caption {
        margin-top: 8px;
        display: block;
        font-size: 14px;
        color: black;
        cursor: pointer;
        text-align: center;
    }

    &-img {
        cursor: pointer;
        background: transparent;
        margin: 20px 20px 20px 0;
        height: 530px;
        width: 460px;
        box-shadow: 2px 2px 4px 2px #ccc;
        border-radius: 8px;
        text-align: center;
        &:not(:nth-child(3n+1)) {
            margin-left: 20px;
        }

        &__img {
            height: 400px;
            width: 400px;
            border-radius: 8px 8px 0 0;
        }
        &__caption {
            margin-top: 8px;
            display: block;
            font-size: 14px;
            color: black;
            cursor: pointer;
            text-align: center;
        }
    }
}