#{$brand}-list {
    &-data {
        &__label {
            font-weight: 600;
            font-size: 14px;
            display: inline-block;
        }
        &__value {
            font-size: 14px;
            display: inline-block;
            margin-left: 20px;
        }
    }
}