#{$brand} {
    &-header {
        height: 26px;
        width: 100%;
        background: map-get($green, '00BCD4');
        padding: 13px 20px;
        &__title {
            margin: 0;
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
    }
    &-main {
        padding: 20px;
        height: calc(100% - 173px);
        width: 100%;
        overflow: auto;
    }
};